<div>
    <h2>
        Order Details for order number ::  # {{orderId}} <a [routerLink]="['/']" class="btn btn-outline-info btn-md float-right">Continue shopping</a>
    </h2>
    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Product Name</th>
                <th>Type</th>
                <th>Quantity</th>
                <th>Price</th>
                <!--<th></th>-->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of products">
                <td><a class="nav nav-link" [routerLink]="['/products/product-details/',p.ProductId]">{{p.BrandName}} {{p.ProductName}}</a></td>
                <td>{{p.CategoryName}}</td>
                <td>{{p.Quantity}}</td>
                <td>{{p.Price}}</td>
               <!-- <td><a class='btn btn-primary stretched-link' [routerLink]="['/customer/my-account/order-details/',b.OrderId]">Go to Order?</a></td>-->
            </tr>
        </tbody>
        </table>
        <div class="card">
                <div class="card-body">
                            <div>
                                <p class="lead"> ------- Tracking Information ---------</p>
                            </div>
                            <div>
                                <ul *ngFor="let s of shipping">
                                    <li><p>Tracking Number :: #{{s.ShippingId}} </p></li>
                                    <li>Shipping Type :: {{s.ShippingType}}</li>
                                    <li>Shipped With :: {{s.ShipperName}}</li>
                                    <li>Estimated Delivery Date :: {{s.DeliveryDate}}</li>
                                    <li>Order Status :: {{s.DeliveryStatusString}}</li>
                                </ul>
                            </div>
                </div>
        </div>
    </div>
</div>